body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    background: #88a78e;
}
@font-face {
    font-family: "Title Font";
    src: url(Wild\ Things.TTF);
}
@font-face {
    font-family: "Pet Shop";
    src: url(Pet\ Shop.otf);
}
#title{
    text-align: center;
    font-family: "Title Font";
    font-size: 15rem;
}
.images{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.animals{
    margin: 5px;
    height: 600px;
    width: 600px;
}
.captions{
    width: fit-content;
    height: fit-content;
    font-size: 9rem;
    font-family: "Pet Shop";
    font-weight: 1000;
    text-align:center;
}
.imagewithtext{
    flex-direction: column;
    align-items: center;
    display: flex;
    width: fit-content;
    height: fit-content;
}
#smurfcat{
    display: block;
    height: 1500px;
    width: 1500px;
    align-items: center;
}
#smurfont{
    font-family: "Pet Shop";
    font-size: 18rem;
    font-weight: 10000;
}