@import "_variables";
@import "_mixins";
body,
html,
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    background: antiquewhite;
}

.parent{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.images{
    margin: 1px;
    display: flex;
    justify-content: space-around;
    height: 50vh;
    width: 50vw;
    border: 3px solid whitesmoke;
}