body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
}
body{
    background: #88a78e;
}
@font-face {
    font-family: "Title Font";
    src: url(Wild\ Things.TTF);
}
@font-face {
    font-family: "Pet Shop";
    src: url(Pet\ Shop.otf);
}
@font-face {
    font-family: "Doom";
    src: url(Doom.ttf);
}
#title{
    text-align: center;
    font-family: "Title Font";
    font-size: 15rem;
}
.images{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.animals{
    margin: 5px;
    height: 85%;
    width: 100%;
}
.captions{
    width: fit-content;
    height: fit-content;
    font-size: 9rem;
    font-family: "Pet Shop";
    font-weight: 1000;
    text-align:center;
}
.imagewithtext{
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 30%;
    height: 75%;
    margin: auto;
    border-radius: 25px;
    height: 700px;
    width: 30%;
    background-color: #B37BA4;
    margin: 10px;
}
#smurfcat{
    display: block;
    height: 75%;
    width: 50%;
    align-items: center;
    position: relative;
}
#smurfont{
    font-family: "Pet Shop";
    font-size: 14rem;
    font-weight: 10000;
}
#heading{
    height:fit-content;
    width: 100%;
    font-size: 25rem;
    text-align: center;
    font-family: "Doom";
    margin: 0px;
}